<!DOCTYPE html>
<html lang="en" ng-app="SPAAuth">
	<head>
		<title>Single Page Application Authentication</title>
		<meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
	</head>
	<body>
		<button ng-hide="session.isLoggedIn" ng-click="session.facebookLogin()">FB Login</button>
		<button ng-hide="session.isLoggedIn" ng-click="session.soundCloudLogin()">SC Login</button>
		<span ng-show="session.isLoggedIn" ng-bind="'Logged in as ' + session.currentUser.displayName"></span>
		<button ng-show="session.isLoggedIn" ng-click="session.logout()">Logout</button>
		<br/><br/>

		<script type="text/javascript" src="/app/libs/angular.js"></script>
		<script type="text/javascript" src="/app/app.js"></script>
		<script type="text/javascript" src="/app/services/session-service.js"></script>
		<script type="text/javascript" src="/app/controllers/message-controller.js"></script>
	</body>
</html>