<!DOCTYPE html>
<html>
<body>

<style type="text/css">
    audio {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 600px;
	height: auto;
    }
</style>

<audio controls width="100%" src="<%= streamUrl %>" type="audio/x-wav"></audio>

</body>
</html>
