<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:image" content="<%= imageUrl %>"/>
    <meta property="og:audio" content="<%= audioUrl %>">
    <meta property="og:audio:type" content="audio/x-wav">
    <meta property="og:type" content="music.song"/>
    <meta property="fb:app_id" content="175618349296602"/>
    <meta property="al:web" content="http://hya.io"/>
    <meta property="og:site_name" content="http://hya.io"/>
    <meta property="og:title" content="<%= title %>"/>
    <meta property="og:site_name" content="hya.io"/>
    <meta property="og:description" content="<%= description %>"/>
    <meta name="twitter:card" content="player" />
    <meta name="twitter:title" content="<%= title %>"/>
    <meta name="twitter:description" content="<%= description %>"/>
    <meta name="twitter:url" content="<%= audioUrl %>"/>
    <meta name="twitter:site" content="http://hya.io"/>
    <meta name="twitter:image" content="<%= imageUrl %>"/>
    <meta name="twitter:player:stream" content="<%= streamUrl %>"/>
    <meta name="twitter:player:stream:content_type" content="audio/x-wav">
    <meta name="twitter:player" content="<%= playerUrl %>">
    <meta name="twitter:player:width" content="300">
    <meta name="twitter:player:height" content="150">
</head>
<body>
</body>
</html>
